<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/about.css">

    <div class="container">
        <section class="card card-lg">
            <div class="card-body">
                <h1 class="text-center font-weight-normal">Our Mission</h1>
                <p class="text-sm m-b-lg text-center">This is a randomly written text in no particular order</p>
                <h1 class="text-center font-weight-light">About</h1>
                <p class="text-justify">Mentorship is a relationship in which a more experienced or more knowledgeable person helps to guide a less experienced or less knowledgeable person. The mentor may be older or younger than the person being mentored, but he or she must have a certain area of expertise.[1] It is a learning and development partnership between someone with vast experience and someone who wants to learn.[1] Mentorship experience and relationship structure affect the "amount of psychosocial support, career guidance, role modeling, and communication that occurs in the mentoring relationships in which the protégés and mentors engaged."[2]. The person in receipt of mentorship may be referred to as a protégé (male), a protégée (female), an apprentice or, in the 2000s, a mentee. The mentor may be referred to as a godfather/godmother[3][4] or a rabbi.[5][6]</p>
            </div>
        </section>
        <section class="card card-lg">
            <div class="card-body">
                <h1 class="text-center font-weight-normal">Our Team</h1>
                <div class="row text-center">
                    <div class="col-sm-6">
                        <div class="caption">
                            <h4>Amogh Hassija</h4>
                        </div>
                        <img src="https://cdn-images-1.medium.com/max/1200/0*_S6BP2lt8MmPzUFz.">  
                    </div>
                    <div class="col-sm-6">
                        <div class="caption">
                            <h4>Aman Khullar</h4>
                        </div>
                        <img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAAUUAAAAJDZiNTYxYmYwLWRjNDYtNGFlOS1iY2UxLWUyMDI3NTAzY2EzYg.jpg">  
                    </div>
                </div>
            </div>
        </section>
    </div>

<% include partials/footer %>